body {background-color: #EDEDED;margin-left: 2px;}
hr { border-style:none; border-top-style:dotted; width: 9%;
border-color:#DA0037;border-width:6px; margin-left:3px;
}
h2 {color:#171717; }
h3 {color:#171717; }
h1 {color:#171717; }
